/* agregamos fuente que vamos a utilizar en la pagina */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html {
    scroll-behavior: smooth;
} 
body{ background-image: url(../imagenes/fondo1.jpg) ;
}
#inicio {
    background: linear-gradient(rgba(255, 252, 252, 0.644), rgba(0, 0, 0, 0.664));
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .contenido header{
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #aa193f;

}