/* agregamos fuente que vamos a utilizar en la pagina */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html {
    scroll-behavior: smooth;
} 
body{ background-image: url(../imagenes/fondo1.jpg) ;
}
#inicio {
    background: linear-gradient(rgba(255, 252, 252, 0.644), rgba(0, 0, 0, 0.664));
    background-size: cover;
    background-position: center center;
    height: 100vh;
}