/* agregamos fuente que vamos a utilizar en la pagina */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html {
    scroll-behavior: smooth;
} 
body{ background-image: url(../imagenes/fondo1.jpg) ;
}
#inicio {
    background: linear-gradient(rgba(255, 252, 252, 0.644), rgba(0, 0, 0, 0.664));
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .contenido header{
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #aa193f;

}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

/*Acomodando menu */
#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: #aa193f;
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #adadad;
    display: inline-block;
    margin-left: 10px;
    transition: 2ss;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color: #aa193f;
}

#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size:55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{
    font-size: 45px;
    color: #aa193f;
}

#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid rgb(161, 11, 11);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s; 
}

#inicio .contenido .presentacion a:hover{
    background-color: #aa193f;
}