/* agregamos fuente que vamos a utilizar en la pagina */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html {
    scroll-behavior: smooth;
} 
body{ background-image: url(../imagenes/fondo1.jpg) ;
}
#inicio {
    background: linear-gradient(rgba(255, 252, 252, 0.644), rgba(0, 0, 0, 0.664));
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .contenido header{
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #aa193f;

}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

/*Acomodando menu */
#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: #aa193f;
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #adadad;
    display: inline-block;
    margin-left: 10px;
    transition: 2ss;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color: #aa193f;
}

#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size:55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{
    font-size: 45px;
    color: #aa193f;
}

#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid rgb(161, 11, 11);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s; 
}

#inicio .contenido .presentacion a:hover{
    background-color: #aa193f;
}

#icono-nav{
    color:#aa193f;
    display: none;
}

/*SECCION OFERTA */
#ofertas_semanales{
    
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#ofertas_semanales .titulo-seccion{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #aa193f ;
    text-decoration-thickness: 5px;

}

#ofertas_semanales .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#ofertas_semanales .fila .oferta{
    max-width: 300px;
    border: 2px solid rgb(90, 90, 90);
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#ofertas_semanales .fila .oferta img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: 1s;
}

#ofertas_semanales .fila .oferta:hover img{
    filter: grayscale(0);
}

#ofertas_semanales .fila .oferta .info {
    position: absolute;
    left: 0;
    background-color: #aaaaaa;
    color: #aa193f;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: 1s;
}

#ofertas_semanales .fila .oferta:hover .info{
    opacity: 1;
    bottom: 0;
}

.rotate{
    -webkit-animation: rotate 5s normal linear infinite;
    animation: rotate 5s normal linear infinite;
}

@keyframes rotate{
    0%{
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1 0deg);
    }
    25%{
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1 90deg);
    }
    50%{
        -webkit-transform: rotate3d(0,0,1, 180deg);
        transform: rotate3d(0,0,1 180deg);
    }
    75%{
        -webkit-transform: rotate3d(0,0,1, 270deg);
        transform: rotate3d(0,0,1 270deg);
    }
    100%{
        -webkit-transform: rotate3d(0,0,1, 360deg);
        transform: rotate3d(0,0,1 360deg);
    }
 
}

/* SECCION CONTACTO */
 
#contacto{
    padding: 100px 15px;
}

#contacto .titulo-seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #919191;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px ;
}

#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input{
    width: 48%;
}

#contacto .contenedor-form .input-full{
    width: 100%;
}

#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 3s;
    padding: 10px 15px;
}

#contacto .btn-enviar:hover{
    background-color: #aa193f;
    color: #fff;
}
